In [1]:
#Analysis for a house flip imports, sort by median household income by zip codes, return URL
import pandas as pd
import regex as re
zillow_props_data = pd.read_excel("./Scraped Data/Zillow/Properties_Zillow_Aug2.xlsx")
mass_data_data = pd.read_excel("Massachusetts_IncomeByZipDemographics.xlsx")

#Convert to DataFrames
zillow_props = pd.DataFrame(zillow_props_data, columns = ['address','price','bathrooms','bedrooms','area','zestimate','rent_zestimate','days_on_zillow','property_url'])

mass_data = pd.DataFrame(mass_data_data)
def fix_zip(series):
      return series.astype(str).str.extract('(\d+)', expand=False).str.zfill(5)

mass_data['zip_code'] = fix_zip(mass_data['zip_code'])
del mass_data['geoid']
del mass_data['state_name']

In [2]:
#Checking if the datasets are good

zillow_props['zip'] = zillow_props['address'].str.extract(r'(\d{5}\-?\d{0,4})')

zillow_props.head()

,address,price,bathrooms,bedrooms,area,zestimate,rent_zestimate,days_on_zillow,property_url,zip
0,"404 Lincoln St, Lexington, MA 02421",750000.0,2.0,3.0,1848.0 sqft,828200.0,3349.0,75,https://www.zillow.com/homedetails/404-Lincoln...,02421
1,"239-241 Delhi St, Mattapan, MA 02126",750000.0,2.0,6.0,2178.0 sqft,776200.0,3599.0,5,https://www.zillow.com/homedetails/239-241-Del...,02126
2,"22 Bartlett St, Malden, MA 02148",750000.0,3.0,3.0,1778.0 sqft,812500.0,3499.0,5,https://www.zillow.com/homedetails/22-Bartlett...,02148
3,"9 Hall Pl, Quincy, MA 02169",750000.0,3.0,5.0,2907.0 sqft,774200.0,4300.0,3,https://www.zillow.com/homedetails/9-Hall-Pl-Q...,02169
4,"50 Myrtle St, Everett, MA 02149",750000.0,2.0,4.0,2588.0 sqft,775900.0,3499.0,5,https://www.zillow.com/homedetails/50-Myrtle-S...,02149

In [3]:
#Checking if the datasets are good
mass_data.head()

,zip_code,county_name,city_name,aland,median_household_income,median_household_income_moe,average_household_income,average_household_income_moe,per_capita_income,per_capita_income_moe,...,unemployment_pct,housing_units,median_value_of_owner_occupied_units,households,hh_families,hh_mc_families,hh_mc_with_own_children_under_18,hh_sp_families,hh_sp_with_own_children_under_18,hh_non_families
0,01001,Hampden,Agawam Town,29796888,63949,3784,81177,5434,36540,2578,...,0.039,7623,215700,7413,4164,3142,806,1022,527,3249
1,01002,Franklin; Hampshire,Amherst; Pelham; Shutesbury,142616784,61159,8382,91025,6080,30847,1871,...,0.058,10965,355500,9798,4980,3513,1171,1467,901,4818
2,01003,Hampshire,Amherst,1842387,2499,-1,-1,-1,4378,458,...,0.189,79,-1,42,4,0,0,4,0,38
3,01005,Worcester,Barre,114638390,67302,6752,95841,9282,37464,3651,...,0.029,2156,236400,1944,1243,1066,383,177,60,701
4,01007,Hampshire,Belchertown,136236046,91191,4893,111617,10414,41753,3851,...,0.042,5988,276900,5563,4075,3283,1361,792,308,1488

In [6]:
#Filter all the adresses with a certain income threshhold by zip codes
def filter_good_props(thresh):
    good_props = []
    for prop in zillow_props:
        #failsafe zip doesn't exist in the other spreadsheet
        if prop['zip'] not in mass_data['zip_code']:
            print("cannot match zip code for: " + prop['address'] + "at price: " + prop['price'])
        else: 
            #if does match, check median household income is below threshhold to evade
            if mass_data['median_household_income'] < thresh:
                print("property is undesired, below the " + thresh + " income level")
            else:
                print("found desired property at " + prop['address'] + " at price: " + prop['price'])
                good_collect.append(prop)
    return good_props

    print(filter_good_props(750000))